{% extends 'admin/base.html.twig' %}

{% block title %}Edit Word{% endblock %}

{% block body %}
    <h1>Edit Word</h1>

    {{ include('admin/project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_word_index') }}">back to list</a>

{% endblock %}
