{% extends 'admin/base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
    <h1>Media index</h1>

    {{ component('gallery', {canEdit: true}) }}

    <a href="{{ path('admin_media_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
