{% extends 'admin/base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
    <h1>Media index</h1>

    {{ component('gallery') }}

    <a href="{{ path('admin_media_new') }}">Create new</a>
{% endblock %}
