{% extends 'admin/base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
    <h1>Media index</h1>

    <div class="medias-container">
        {% for media in medias %}
            {{ component(
                'media',
                {
                    media: media
                }
            ) }}
        {% endfor %}
    </div>


    <a href="{{ path('admin_media_new') }}">Create new</a>
{% endblock %}
