{% extends 'base.html.twig' %}

{% block title %}Vionnet Steve{% endblock %}

{% block body %}
    <div id="who-i-am" class="row">
        I’m a developer in blablab and <span class="dynamic-word">Interaction Design</span>
    </div>
{% endblock %}
