@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');
@import "components/gallery";

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #000000;
  background-color: #d7d7d7;
}

.medias-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: auto;
  grid-auto-rows: 100px;
  grid-gap: 5px;
}