<div class="medias-container">
    {% for media in computed.medias %}
        {{ component(
            'media',
            {
                media: media,
                canEdit: computed.canEdit
            }
        ) }}
    {% endfor %}
</div>